@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InterTransit</h1>
    <p class="lead">Bienvenu sur l'APP number One pour les transitaires confirmés</p>
    <div class="btn btn-default btn-lg ">
        @Html.ActionLink("Création Rapide de Dossier Fcl Export", "ResumeFcl", new { Controller = "DossierFclExports", Action = "ResumeFcl" })
    </div>
    <p><a href="http://youtube.com" class="btn btn-primary btn-lg">Pour la Musique &raquo;</a></p>
    
</div>

