@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InterTransit</h1>
    <p class="lead">Bienvenu sur l'APP number One pour les transitaires confirmés</p>
    <p><a href="http://youtube.com" class="btn btn-primary btn-lg">Pour la Musique &raquo;</a></p>
</div>

